<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button color="dark" text="" defaultHref="shopping-carts"></ion-back-button>
    </ion-buttons>
    <ion-title>Importar Lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <header class="padding">
    <h4><b>Como Usar?</b></h4>
    <p>Para importar uma lista para o aplicativo, basta você <b>copiar a mensagem</b> ou o texto que o aplicativo gera quando você Compartilha uma de suas listas
      (veja os botões "Compartilhar" na listagem das listas ou dentro delas). <b>Mensagens criadas manualmente não vão funcionar!</b></p>

    <p>
      A lista que você deve copiar para o campo abaixo deve se parece mais ou menos com isso aqui:
    </p>
    <pre class="code-block">
      Lista: Padaria
      ===
      - 3× Pão: R$ 6,99 cada;
      - 2× Mortadela;
      - Salame;

      VALOR TOTAL: R$ 20,97
      ===
      Lista gerada pelo app Shopping Cart.
    </pre>

    <p>Basta <b>copiar</b> a lista que você recebeu da mesma forma como está no exemplo, <b>colar</b> no campo abaixo e apertar o "Importar"</p>
  </header>

  <div class="padding-horizontal">
    <ion-item fill="outline">
      <ion-label position="floating">Copie a Lista aqui</ion-label>
      <ion-textarea type="text" [(ngModel)]="inputTextList"></ion-textarea>
    </ion-item>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button [disabled]="!inputTextList || inputTextList.trim().length <= 10" fill="outline" expand="block" (click)="importCart()">
      <ion-icon name="share" slot="start"></ion-icon>Finalizar Importação
    </ion-button>
  </ion-toolbar>
</ion-footer>
