<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-title>Lista de Compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #homeContent>
  <ion-list>

    <form [formGroup]="newListForm" class="padding-none" (submit)="saveNewList()">
      <div class="custom-card" [hidden]="(newListFormOpen | async) === false">
        <ion-item fill="outline" class="sl-item padding">
          <ion-label position="floating">Nome da Lista</ion-label>
          <ion-input type="text" maxlength="24" class="sl-input"
            placeholder="Ex: Compra de Mês - Novembro" formControlName="name"></ion-input>
        </ion-item>
        <div class="w-100">
          <ion-button fill="outline" expand="block" (click)="importCart()">
            <ion-icon name="share" slot="start"></ion-icon>Importar Lista
          </ion-button>
        </div>
      </div>
    </form>

    <div *ngIf="(newListFormOpen | async) === false  && (getShoppingCartList()?.length === 0)" class="no-item-div">
      <ion-icon size="large" name="cart-outline"></ion-icon>
      <label>Nenhuma Lista Cadastrada.</label>
    </div>

    <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">
      <div class="shopping-cart custom-card home" *ngFor="let shoppingCart of getShoppingCartList(); let i = index">
        <div class="padding-horizontal flex display-columns gap-8">
            <div id="card-titles">
              <div class="flex space-between center-vertical" [hidden]="(shoppingCart?.edit)">
                <h5 class="flex-auto-width w-100" (click)="accessList(shoppingCart)"><b>{{ shoppingCart?.name }}</b></h5>
                <ion-icon [id]="'click-trigger-' + i" name="ellipsis-vertical"></ion-icon>
                <ion-popover #popover mode="ios" [side]="i < 4 ? 'bottom' : 'top'" alignment="center"
                 dismissOnSelect="true" reference="event" [trigger]="'click-trigger-' + i" triggerAction="click">
                  <ng-template>
                    <ion-content>
                      <ion-item button (click)="clickEditInput(shoppingCart, i); popover.dismiss()" detail="false" lines="full">
                        <ion-icon name="create" slot="start"></ion-icon>Editar Nome
                      </ion-item>
                      <ion-item button (click)="copyList(shoppingCart, i); popover.dismiss()" detail="false" lines="full">
                        <ion-icon name="copy" slot="start"></ion-icon>Duplicar
                      </ion-item>
                      <ion-item button (click)="shareList(shoppingCart); popover.dismiss()" detail="false" lines="full">
                        <ion-icon name="share-social" slot="start"></ion-icon>Compartilhar
                      </ion-item>
                      <ion-item button (click)="removeList(shoppingCart); popover.dismiss()" detail="false" lines="none">
                        <ion-icon name="trash" slot="start"></ion-icon>Remover
                      </ion-item>
                    </ion-content>
                  </ng-template>
                </ion-popover>
              </div>

              <div [hidden]="!(shoppingCart?.edit)">
                <form class="padding-none" (submit)="saveEditInput(shoppingCart)">
                  <ion-item class="padding-bottom">
                    <ion-input #inputNameInputList [(ngModel)]="shoppingCart.name" [ngModelOptions]="{standalone: true}" type="text"></ion-input>
                    <ion-buttons slot="end">
                      <ion-button (click)="saveEditInput(shoppingCart)">
                        <ion-icon name="checkmark"></ion-icon>
                      </ion-button>
                    </ion-buttons>
                  </ion-item>
                </form>
              </div>
              <ion-reorder>
                <div class="flex space-between" (click)="accessList(shoppingCart)">
                  <label>Itens: {{ shoppingCart?.getCartLength() }}</label>
                  <label>Total: {{ shoppingCart?.getCartTotal() | currency: 'BRL' : 'R$': '1.2-2' }}</label>
                </div>
              </ion-reorder>
            </div>
        </div>
      </div>
    </ion-reorder-group>
  </ion-list>

  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button (click)="newListButton()" *ngIf="(newListFormOpen | async) === false">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <!-- <ion-fab-button (click)="saveNewList()" color="success" [hidden]="(newListFormOpen | async) === false">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
    </ion-fab-button> -->
  </ion-fab>
</ion-content>
