.sl {
  &-input{
    --padding-top: 0px;
    --padding-bottom: 0px;
  }

  &-item{
    --min-height: 44px;

    &:not(.has-value), &:not(.has-focus) {
      ion-label {
        &.label-floating.sc-ion-label-md-h {
          transform: translateY(90%);
        }
      }
    }
  }
}
