<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-title>Lista de Compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #homeContent>
  <ion-list>
    <form [formGroup]="newListForm" class="padding-none" (submit)="saveNewList()">
      <div class="custom-card" [hidden]="!(newListFormOpen | async)">
        <ion-item fill="outline" class="padding">
          <ion-label position="floating">Nome da Lista</ion-label>
          <ion-input placeholder="Ex: Compra de Mês - Novembro" formControlName="name"></ion-input>
        </ion-item>
      </div>
    </form>

    <div *ngIf="!(newListFormOpen | async) && (getShoppingCartList()?.length === 0)" class="no-item-div">
      <ion-icon size="large" name="cart-outline"></ion-icon>
      <label>Nenhuma Lista Cadastrada.</label>
    </div>

    <div class="shopping-cart custom-card" *ngFor="let shoppingCart of getShoppingCartList(); let i = index">
      <div class="padding-horizontal flex display-columns gap-8">
        <div id="card-titles">
          <div (click)="clickEditInput(shoppingCart, i)" [hidden]="(shoppingCart?.edit)">
            <h5><b>{{ shoppingCart?.name }}</b></h5>
          </div>

          <div [hidden]="!(shoppingCart?.edit)">
            <form class="padding-none" (submit)="saveEditInput(shoppingCart)">
              <ion-item class="padding-bottom">
                <ion-input #inputNameInputList [(ngModel)]="shoppingCart.name" [ngModelOptions]="{standalone: true}" type="text"></ion-input>
                <ion-buttons slot="end">
                  <ion-button (click)="saveEditInput(shoppingCart)">
                    <ion-icon name="checkmark"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-item>
            </form>
          </div>

          <div class="flex space-between">
            <label>Itens: {{ shoppingCart?.getCartLength() }}</label>
            <label>Total: {{ shoppingCart?.getCartTotal() | currency: 'BRL' : 'R$': '1.2-2' }}</label>
          </div>
        </div>

        <div id="card-buttons" class="flex flex-basis-auto">
          <ion-button fill="outline" expand="block" class="w-100" (click)="accessList(shoppingCart)">
            <ion-icon name="eye" slot="start"></ion-icon>Ver
          </ion-button>

          <ion-button fill="outline" expand="block" color="success" class="w-100" (click)="copyList(shoppingCart)">
            <ion-icon name="copy" slot="start"></ion-icon>Duplicar
          </ion-button>

          <ion-button fill="outline" expand="block" color="danger" class="w-100" (click)="removeList(shoppingCart)">
            <ion-icon name="trash" slot="start"></ion-icon>Remover
          </ion-button>
        </div>
      </div>
    </div>
  </ion-list>

  <ion-fab horizontal="end" vertical="bottom">
    <ion-fab-button (click)="newListButton()" [hidden]="(newListFormOpen | async)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <ion-fab-button (click)="saveNewList()" color="success" [hidden]="!(newListFormOpen | async)">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
