<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-title>Lista de Compras</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="removeAll()" fill="clear">
        <ion-icon slot="icon-only" name="trash-bin-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #homeContent>
  <ion-list>
    <div *ngIf="shoppingList.length === 0" class="no-item-div">
      <ion-icon size="large" name="cart-outline"></ion-icon>
      <label>Nenhum item adicionado à Lista.</label>
    </div>

    <div class="item-line" *ngFor="let item of shoppingList; let i = index">
      <div>
        <h6><b>{{ (i < 9 ? '0' : '') }}{{ (i + 1) }}</b></h6>
      </div>
      <div class="custom-card w-100">
        <div class="item-form-flex">
          <div class="w-50 padding-horizontal">
            <ion-item class="ion-no-padding">
              <ion-label position="stacked">Produto</ion-label>
              <ion-input #itemNameInput type="text" [(ngModel)]="item.itemName" (ngModelChange)="inputChange()"></ion-input>
            </ion-item>
          </div>

          <div class="w-20 ">
            <ion-item class="ion-no-padding">
              <ion-label position="stacked">QTD</ion-label>
              <ion-input type="number" [min]="0" [(ngModel)]="item.quantity" (ngModelChange)="inputChange()"></ion-input>
            </ion-item>
          </div>

          <div class="w-30 padding-horizontal">
            <ion-item  class="ion-no-padding">
              <ion-label position="stacked">Valor</ion-label>
              <ion-input type="number" [min]="0" [(ngModel)]="item.value" (ngModelChange)="inputChange()"></ion-input>
            </ion-item>
          </div>
        </div>
      </div>
      <div>
        <ion-icon color="danger" name="trash" (click)="removeItem(i)"></ion-icon>
      </div>
    </div>

    <div class="padding-horizontal full-button-line">
      <ion-button fill="outline" expand="block" (click)="addItem()">
        <ion-icon name="add-circle" slot="start"></ion-icon>Adicionar Item
      </ion-button>
    </div>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="footer-total">
      <h4>Total:</h4>
      <h1><b>{{ getTotal() | currency: 'BRL' : 'R$': '1.2-2' }}</b></h1>
    </div>
  </ion-toolbar>
</ion-footer>
