.no-item-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 16px;
}

.item-form-flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.item-line {
  padding: 0px 8px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.custom-card {
  margin: 8px;
  padding: 0px 6px;
  padding-bottom: 8px;
  border: 1px solid #B6B6B6;
  border-radius: 10px;
}

.full-button-line {
  width: 100%;
}

.footer-total {
  display: flex;
  padding: 0px 8px;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  h4 {
    line-height: 1;
  }

  h1 {
    margin-top: 16px;
  }
}
