<ion-header>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-toolbar>
    <ion-title>{{ 'SHOPPING_LIST.CREATE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="listForm" class="pd-8" (ngSubmit)="submitForm()">
    <ion-list>
      <ion-item lines="none">
        <ion-input type="text" name="listName" label="{{ 'SHOPPING_LIST.NAME' | translate }}" labelPlacement="floating"
          helperText="{{ 'SHOPPING_LIST.VALIDATION.HELPER_NAME' | translate }}"
          placeholder="{{'EXAMPLE_ABBREV' | translate: {value: ('EXAMPLE_VALUE' | translate)} }}"
          errorText="{{ 'SHOPPING_LIST.VALIDATION.NAME' | translate }}" formControlName="listName">
        </ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input type="tel" name="target" label="{{ 'SHOPPING_LIST.TARGET' | translate }}" labelPlacement="floating"
          currency formControlName="target" helperText="{{ 'SHOPPING_LIST.VALIDATION.HELPER_TARGET' | translate }}">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-select name="listType" label="{{ 'SHOPPING_LIST.TYPE' | translate }}" labelPlacement="floating"
          formControlName="listType" interface="action-sheet">
          <ion-select-option value="list">
            {{ 'SHOPPING_LIST.TYPES.LIST' | translate }}
          </ion-select-option>

          <ion-select-option value="cart">
            {{ 'SHOPPING_LIST.TYPES.CART' | translate }}
          </ion-select-option>
        </ion-select>

        <ion-buttons slot="end">
          <ion-icon (click)="listTypeHelpClick($event)" color="primary" name="help-outline"></ion-icon>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar class="bottom-buttons">
    <ion-button type="button" fill="outline" expand="block" (click)="modal.dismiss()">
      {{ 'CANCEL' | translate }}
    </ion-button>

    <ion-button type="button" expand="block" (click)="submitForm()" color="primary">
      {{ 'SAVE' | translate }}
    </ion-button>
  </ion-toolbar>
</ion-footer>