/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.w {
  &-100 {
    width: 100%;
  }

  &-90 {
    width: 90%;
  }

  &-80 {
    width: 80%;
  }

  &-70 {
    width: 70%;
  }

  &-60 {
    width: 60%;
  }

  &-50 {
    width: 50%;
  }

  &-47 {
    width: 47%;
  }

  &-45 {
    width: 45%;
  }

  &-40 {
    width: 40%;
  }

  &-30 {
    width: 30%;
  }

  &-20 {
    width: 20%;
  }

  &-10 {
    width: 10%;
  }

  &-auto {
    width: auto;
  }
}

$base-padding: 8px;

.padding {
  padding: $base-padding;

  &-small {
    padding: calc($base-padding / 2);
  }

  &-horizontal {
    padding-left: $base-padding;
    padding-right: $base-padding;

    &-small {
      padding-left: calc($base-padding / 2);
      padding-right: calc($base-padding / 2);
    }
  }

  &-vertical {
    padding-top: $base-padding;
    padding-bottom: $base-padding;

    &-small {
      padding-top: calc($base-padding / 2);
      padding-bottom: calc($base-padding / 2);
    }
  }

  &-left {
    padding-left: $base-padding;

    &-small {
      padding-left: calc($base-padding / 2);
    }
  }

  &-right {
    padding-right: $base-padding;

    &-small {
      padding-right: calc($base-padding / 2);
    }
  }

  &-top {
    padding-top: $base-padding;

    &-small {
      padding-top: calc($base-padding / 2);
    }
  }

  &-bottom {
    padding-bottom: $base-padding;

    &-small {
      padding-bottom: calc($base-padding / 2);
    }
  }

  &-none {
    padding: 0px !important;
  }
}

.fake-button {
  color: #3880ff;
}

.no-item-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 16px;
}

.item-form-flex {
  width: 100%;
  display: flex;
  // flex-wrap: wrap;
}

.item-line {
  padding: 0px $base-padding;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.custom-card {
  margin: calc($base-padding - 2px);
  padding: 0px $base-padding;
  padding-bottom: calc($base-padding);
  border: 1px solid #B6B6B6;
  border-radius: 10px;

  &.home {
    padding-bottom: calc($base-padding * 2);
  }
}

.shopping-cart {
  :not([disabled]) {
    cursor: pointer;
  }
}

.full-button-line {
  width: 100%;
}

.footer-total {
  display: flex;
  padding: 0px 8px;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  h4 {
    line-height: 1;
  }

  h1 {
    margin-top: 16px;
  }
}

.flex {
  display: flex;

  &.flex-basis-auto {
    flex-grow: 1;
    flex-basis: auto;
  }

  &.space-around {
    justify-content: space-around;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.center {
    justify-content: center;
  }

  &.right {
    justify-content: right;
  }

  &.center-vertical {
    align-items: center;
  }

  &.display-columns {
    flex-direction: column;
  }

  &.gap-8 {
    gap: 8px;
  }
}

