/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "./theme/helpers/sizing.scss";
@import "./theme/helpers/spacing.scss";

:root {
  --ion-background-color: var(--ion-color-light);

  ion-item {
    &:not(.popover-menu-item) {
      &::part(native) {
        padding-left: 0px !important;
      }
    }

    .input-label-placement {
      &-floating {
        &:not(.has-focus, .has-value) {
          .label-text-wrapper {
            transform: translateY(144%) scale(1) !important;
          }
        }
      }

      &-stacked {
        min-height: 48px;

        .label-text-wrapper {
          transform: translateY(0%) scale(0.75) !important;
          font-weight: bold;
        }

        .native-wrapper {
          transform: translateY(-12%) !important;
        }
      }
    }
  }
}

$base-padding: 8px;

.fake-button {
  color: var(--ion-color-primary);
}

.no-item-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 16px;
}

.item-form-flex {
  width: 100%;
  display: flex;
}

.item-line {
  padding: 0px $base-padding;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.custom-card {
  margin: calc($base-padding - 2px);
  padding: $base-padding;
  border: 1px solid #B6B6B6;
  border-radius: 10px;
}

.shopping-cart {
  :not([disabled]) {
    cursor: pointer;
  }
}

.full-button-line {
  width: 100%;
}

.footer-total {
  display: flex;
  padding: 0px 8px;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  h4 {
    line-height: 1;
  }

  h1 {
    margin-top: 16px;
  }
}

.flex {
  display: flex;

  .flex-auto-width {
    flex: 1 1 auto;
  }


  .flex-width {
    flex: 1 0 auto;
  }

  &.flex-basis-auto {
    flex-grow: 1;
    flex-basis: auto;
  }

  &.space-around {
    justify-content: space-around;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.center {
    justify-content: center;
  }

  &.right {
    justify-content: right;
  }

  &.center-vertical {
    align-items: center;
  }

  &.display-columns {
    flex-direction: column;
  }
}

//
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}