<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ shoppingCart?.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="removeAll()" fill="clear">
        <ion-icon slot="icon-only" name="trash-bin-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngIf="shoppingCart?.cartItems.length === 0" class="no-item-div">
      <ion-icon size="large" name="cart-outline"></ion-icon>
      <label>Nenhum item adicionado à Lista.</label>
    </div>

    <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">
      <div class="item-line" *ngFor="let item of shoppingCart?.cartItems; let i = index">
        <ion-reorder>
          <h6><b>{{ (i < 9 ? '0' : '') }}{{ (i + 1) }}</b></h6>
        </ion-reorder>

        <div class="custom-card w-100">
          <div class="item-form-flex padding-horizontal-small">
            <div class="description-div">
              <ion-item class="ion-no-padding">
                <ion-label position="stacked">Produto</ion-label>
                <ion-input #itemNameInput type="text" [(ngModel)]="item.itemName" (ngModelChange)="inputChange()"></ion-input>
              </ion-item>
            </div>

            <div class="quantity-div">
              <ion-item class="ion-no-padding">
                <ion-label position="stacked">QTD</ion-label>
                <ion-input type="number" [min]="0" [(ngModel)]="item.quantity" (ngModelChange)="inputChange()"></ion-input>
              </ion-item>
            </div>

            <div class="amount-div">
              <ion-item class="ion-no-padding">
                <ion-label position="stacked">Valor</ion-label>
                <ion-input type="number" [min]="0" [(ngModel)]="item.value" (ngModelChange)="inputChange(item)">
                </ion-input>
              </ion-item>
            </div>
          </div>

          <div class="item-form-flex padding-top">
            <div class="w-100 flex center-vertical space-between padding-left">
              <small (click)="copyItem(item, i)" class="fake-button">
                <b><ion-icon name="copy"></ion-icon> Copiar</b>
              </small>
              <small>Total Item:</small>
            </div>
            <div class="amount-div flex center-vertical">
              <small class="padding-horizontal">{{ (item.value * item.quantity) | currency: 'BRL' : 'R$ ': '1.2-2' }}</small>
            </div>
          </div>
        </div>
        <div>
          <ion-icon color="danger" name="trash" (click)="removeItem(i)"></ion-icon>
        </div>
      </div>
    </ion-reorder-group>

    <div class="padding-horizontal full-button-line">
      <ion-button fill="outline" expand="block" (click)="addItem()">
        <ion-icon name="add-circle" slot="start"></ion-icon>Adicionar Item
      </ion-button>
    </div>
  </ion-list>
</ion-content>

<ion-footer *ngIf="shoppingCart">
  <ion-toolbar>
    <div class="footer-total">
      <h4>Total:</h4>
      <h1><b>{{ getTotal() | currency: 'BRL' : 'R$': '1.2-2' }}</b></h1>
    </div>
  </ion-toolbar>
</ion-footer>
