<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text=""  defaultHref="shopping-carts"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ shoppingCart?.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" id="actions-popover">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
      <ion-popover #popover mode="ios" trigger="actions-popover" triggerAction="click">
        <ng-template>
          <ion-content>
            <ion-item class="popover-menu-item" button (click)="removeAll(); popover.dismiss()" detail="false" lines="full">
              <ion-icon slot="start" name="trash-bin-outline"></ion-icon> Limpar Lista
            </ion-item>

            <ion-item class="popover-menu-item" button (click)="shareShoppingList(); popover.dismiss()" detail="false" lines="none">
              <ion-icon slot="start" name="share-social"></ion-icon> Compartilhar
            </ion-item>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngIf="shoppingCart?.cartItems.length === 0" class="no-item-div">
      <ion-icon size="large" name="cart-outline"></ion-icon>
      <label>Nenhum item adicionado à Lista.</label>
    </div>

    <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">
      <div class="item-line" *ngFor="let item of shoppingCart?.cartItems; let i = index">
        <ion-reorder>
          <h6><b>{{ (i < 9 ? '0' : '') }}{{ (i + 1) }}</b></h6>
        </ion-reorder>

        <div class="custom-card w-100">
          <div class="item-form-flex padding-horizontal-small">
            <div class="description-div">
              <ion-item class="ion-no-padding">
                <ion-input #itemNameInput label="Produto" labelPlacement="stacked"
                  type="text" [(ngModel)]="item.itemName" (ngModelChange)="inputChange()">
                </ion-input>
              </ion-item>
            </div>

            <div class="quantity-div">
              <ion-item class="ion-no-padding">
                <ion-input label="QTD" labelPlacement="stacked"
                  type="number" [min]="0" [(ngModel)]="item.quantity" (ngModelChange)="inputChange()">
                </ion-input>
              </ion-item>
            </div>

            <div class="amount-div">
              <ion-item class="ion-no-padding">
                <ion-input label="Valor" labelPlacement="stacked"
                  type="number" [min]="0" [(ngModel)]="item.value" (ngModelChange)="inputChange(item)">
                </ion-input>
              </ion-item>
            </div>
          </div>

          <div class="item-form-flex pd-t-4">
            <div class="w-100 flex center-vertical space-between padding-left">
              <small (click)="copyItem(item, i)" class="fake-button">
                <b><ion-icon name="copy"></ion-icon> Duplicar</b>
              </small>
              <small>Sub-Total:</small>
            </div>

            <div class="amount-div flex center-vertical">
              <small class="padding-horizontal">{{ (item.value * item.quantity) | currency: 'BRL' : 'R$': '1.2-2' }}</small>
            </div>
          </div>
        </div>
        <div>
          <ion-icon color="danger" name="trash" (click)="removeItem(i)"></ion-icon>
        </div>
      </div>
    </ion-reorder-group>

    <div class="pd-h-4 full-button-line">
      <ion-button fill="outline" expand="block" (click)="addItem()">
        <ion-icon name="add-circle" slot="start"></ion-icon>Adicionar Item
      </ion-button>
    </div>
  </ion-list>
</ion-content>

<ion-footer *ngIf="shoppingCart">
  <ion-toolbar>
    <div class="footer-total">
      <h4>Total:</h4>
      <h1><b>{{ getTotal() | currency: 'BRL' : 'R$': '1.2-2' }}</b></h1>
    </div>
  </ion-toolbar>
</ion-footer>
